body{
	font-family: Roboto, sans-serif;
}
td{
	line-height: 50px!important;
}
.panel{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 300px;
	height: 175px;
	text-align: center;
}

.panel-body{position: absolute;
	padding: 15px;
	top: 60%;
	left: 0%;
	transform: translate(0%,-50%);
}

#auth:hover{
	cursor: pointer;
}

/*#vk_auth{
	position: absolute;
	left: 40%;
	top: 40%;
}*/